{% extends 'recommend/base.html' %}

{% block title %}
Recommendation
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="my-4 text-center">Choose Your Style, {{ user_email }}</h1>
    <form method="get" action="/recommend_clothes/" class="mb-4 text-center">
        <input type="hidden" name="latitude" value="37.7749">
        <input type="hidden" name="longitude" value="-122.4194">
        <div class="btn-group" role="group">
            <button type="submit" name="situation" value="dandy" class="btn btn-primary concept-button">Dandy</button>
            <button type="submit" name="situation" value="formal" class="btn btn-secondary concept-button">Formal</button>
            <button type="submit" name="situation" value="casual" class="btn btn-success concept-button">Casual</button>
            <button type="submit" name="situation" value="street" class="btn btn-info concept-button">Street</button>
            <button type="submit" name="situation" value="sporty" class="btn btn-warning concept-button">Sporty</button>
        </div>
    </form>

    <h2 class="my-4 text-center">Recommended Clothing</h2>
    <div class="d-flex justify-content-around" id="selected_clothes">
        <div class="image-box">
            <img src="{{ selected_bottom_image_path }}" alt="Bottom" class="img-thumbnail">
        </div>
        <div class="image-box">
            <img src="{{ selected_top_image_path }}" alt="Top" class="img-thumbnail">
        </div>
        <div class="image-box">
            <img src="{{ selected_outer_image_path }}" alt="Outer" class="img-thumbnail">
        </div>
    </div>

    <form action="{% url 'save_recommendation' %}" method="post" id="recommendationForm" class="mt-4 text-center">
        {% csrf_token %}
        <input type="hidden" name="selected_bottom_image_path" value="{{ selected_bottom_image_path }}">
        <input type="hidden" name="selected_top_image_path" value="{{ selected_top_image_path }}">
        <input type="hidden" name="selected_outer_image_path" value="{{ selected_outer_image_path }}">
        <input type="hidden" name="style" value="{{ selected_style }}">
        <button type="submit" class="btn btn-primary save-recommendation-button">Save Recommendation</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        getLocation();
    });

    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const situation = urlParams.get('situation');
        if (situation) {
            document.getElementById('selectedSituation').textContent = situation;
        }
    }

    function getLocation() {
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('latitude') && urlParams.has('longitude')) {
            return;
        }
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        var currentPath = window.location.pathname;
        var urlParams = new URLSearchParams(window.location.search);
        var situation = urlParams.get('situation');
        var weatherURL = currentPath + '?latitude=' + lat + '&longitude=' + lon;
        if (situation) {
            weatherURL += '&situation=' + situation;
        }
        window.location.href = weatherURL;
    }

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                console.log("User denied the request for Geolocation.");
                alert("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                console.log("Location information is unavailable.");
                alert("Location information is unavailable.");
                break;
            case error.TIMEOUT:
                console.log("The request to get user location timed out.");
                alert("The request to get user location timed out.");
                break;
            case error.UNKNOWN_ERROR:
                console.log("An unknown error occurred.");
                alert("An unknown error occurred.");
                break;
        }
    }

    function selectSituation(situation) {
        fetch('/recommend/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ situation: situation })
        }).then(() => {
            document.getElementById('selectedSituation').textContent = situation;
            window.history.pushState({}, '', window.location.pathname + '?situation=' + situation);
            window.location.reload();
        });
    }

    function recommendButton() {
        fetch('/recommend/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ recommend: 'true' })
        }).then(() => {
            window.location.reload();
        });
    }

    function saveRecommendation() {
        var form = document.getElementById('recommendationForm');
        var formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(response => {
            if (response.ok) {
                console.log('추천된 옷이 성공적으로 저장되었습니다.');
                window.alert('추천된 옷이 성공적으로 저장되었습니다.');
            } else {
                console.error('추천된 옷을 저장하는 도중 오류가 발생했습니다.');
                window.alert('추천된 옷을 저장하지 못했습니다.');
            }
        }).catch(error => {
            console.error('추천된 옷을 저장하는 도중 오류가 발생했습니다:', error);
            window.alert('추천된 옷을 저장하지 못했습니다.');
        });
    }
</script>
{% endblock %}
