{% extends 'recommend/base.html' %}
{% block title %}
<html>
<head>
<title>Recommendation</title>
<script>
document.addEventListener('DOMContentLoaded', function() {
    getLocation();
});

window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    const situation = urlParams.get('situation');
    if (situation) {
        document.getElementById('selectedSituation').textContent = situation;
    }
}

function getLocation() {
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('latitude') && urlParams.has('longitude')) {
        return;
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    var currentPath = window.location.pathname; // 현재 URL 경로
    var urlParams = new URLSearchParams(window.location.search);
    var situation = urlParams.get('situation'); // 현재 URL에서 situation 가져오기
    var weatherURL = currentPath + '?latitude=' + lat + '&longitude=' + lon;
    if (situation) {
        weatherURL += '&situation=' + situation; // situation 추가
    }
    window.location.href = weatherURL;
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            console.log("User denied the request for Geolocation.");
            alert("User denied the request for Geolocation.");
            break;
        case error.POSITION_UNAVAILABLE:
            console.log("Location information is unavailable.");
            alert("Location information is unavailable.");
            break;
        case error.TIMEOUT:
            console.log("The request to get user location timed out.");
            alert("The request to get user location timed out.");
            break;
        case error.UNKNOWN_ERROR:
            console.log("An unknown error occurred.");
            alert("An unknown error occurred.");
            break;
    }
}

function selectSituation(situation) {
    fetch('/recommend/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ situation: situation })
    }).then(() => {
        // 선택한 상황을 URL에 추가하고 페이지를 새로 고침
        document.getElementById('selectedSituation').textContent = situation;
        window.history.pushState({}, '', window.location.pathname + '?situation=' + situation);
        window.location.reload();
    });
}

function recommendButton(situation) {
    fetch('/recommend/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ recommend: situation})
    }).then(() => {
        window.location.reload();
    })
}
</script>
</head>
<body>
<h1>Recommendation</h1>
<h5>Weather</h5>
<div id="recommend_algorithm">
    {% if weather %}
    <p>Temperature: {{ weather.main.temp }}°C</p>
    <p>Weather: {{ weather.weather.0.description }}</p>
    {% else %}
    <p>Loading...</p>
    {% endif %}
</div>
<h5>옷 입는 상황을 선택하세요:</h5>
<button onclick="selectSituation('dandy')">Dandy</button>
<button onclick="selectSituation('formal')">Formal</button>
<button onclick="selectSituation('casual')">Casual</button>
<button onclick="selectSituation('street')">Street</button>
<button onclick="selectSituation('sporty')">Sporty</button>
<p><span id="selectedSituation"></span>한 코디를 추천</p>
<button onclick="recommendButton()">다시 추천 받기</button>
<tr></tr>
<h5>추천 코디</h5>
<div id="selected_clothes">
    <div class="">
        {% if clothes %}
            {% for cloth in clothes %}
                <p>{{ cloth }}</p>
            {% endfor %}
        {% else %}
            <p>No clothes recommended yet.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}

