<!-- templates/calendar_v2/calendar.html -->

{% extends 'calendar_v2/base.html' %}

{% block title %}
<div style="display: flex; align-items: center;">
    <div id="weather" style="display: flex; align-items: center;">
        <p id="weatherText" style="margin-right: 10px; font-size: 0.8em;"></p>
        <img id="weatherIcon" src="" alt="Weather icon">
    </div>
</div>
{% endblock %}

{% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{% now "Y-m-d" as today %}

<div class="clearfix">
    <a class="btn btn-info right" href="{% url 'cal2:event_new2' %}">일정 생성</a>
    <a class="btn btn-info right" href="{% url 'cal2:calendar_v2' %}?{{ next_month }}">다음달</a>
    <a class="btn btn-info right" href="{% url 'cal2:calendar_v2' %}?{{ today }}">이번달</a>
    <a class="btn btn-info right" href="{% url 'cal2:calendar_v2' %}?{{ prev_month }}">이전달</a>
</div>

<div class="calendar">
    {{ calendar }}
</div>

<script>
    var eventBaseUrl = "{% url 'cal2:event_page2' 0 %}".replace('/0', '');
    var newEventUrl = "{% url 'cal2:event_new2' %}";
    
    document.querySelectorAll('.date').forEach(function(dateElement) {
        dateElement.classList.add('cursor-pointer');
        dateElement.addEventListener('click', function(e) {
            var eventId = e.target.dataset.eventId;
            var date = e.target.dataset.date;
            if (eventId) {
                window.location.href = eventBaseUrl + eventId + '/?date=' + date;
            } else {
                window.location.href = newEventUrl + '?date=' + date;
            }
        });
    });

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        getWeather(lat, lon);
    }

    window.onload = getLocation();

    function getWeather(lat, lon) {
        fetch(`/weather2/?lat=${lat}&lon=${lon}`)
            .then(response => response.json())
            .then(data => {
                var weatherText = document.getElementById('weatherText');
                weatherText.innerText = '온도: ' + data.temp + ' 현재 날씨: ' + data.description;

                var weatherIcon = document.getElementById('weatherIcon');
                weatherIcon.src = "http://openweathermap.org/img/w/" + data.icon + ".png";
            });
    }
</script>
{% endblock %}