{% extends 'calendar_v2/base.html' %}

{% block title %}
    {% if event %}
        {{ event.title }} 수정
    {% else %}
        이벤트 없음
    {% endif %}
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <form method="POST" action="{% url 'cal2:event_edit2' event.id %}">
        {% csrf_token %}
        <div style="background-color: white; width: 1200px; margin: 0 auto; padding: 20px;">
            <div class="form-group">
                <label for="id_title">제목:</label>
                <input type="text" class="form-control" id="id_title" name="title" value="{{ form.title.value }}">
            </div>
            <div class="form-group">
                <label for="id_description">설명:</label>
                <textarea class="form-control" id="id_description" name="description">{{ form.description.value }}</textarea>
            </div>
            <div class="form-group">
                <label for="id_date">일정 날짜:</label>
                <input type="text" class="form-control" id="id_date" name="date_display" value="{{ form.date.value }}" disabled>
                <input type="hidden" name="date" value="{{ form.date.value }}">
            </div>

    </form>
    <button type="submit" class="btn btn-primary btn-opaque">저장</button>
    <a href="{% url 'cal2:event_delete2' event.id %}" class="btn btn-danger btn-opaque">삭제</a>
    <a href="{% url 'cal2:calendar_v2' %}" class="btn btn-info btn-opaque">돌아가기</a>
    </div>
</div>
{% endblock %}
