{% extends 'calendar_v2/base.html' %}

{% block title %}
    일정 보기 페이지
{% endblock %}

{% block content %}
<div class="clearfix">
    <a class="btn btn-info right" href="{% url 'cal2:event_new2' %}"> 새 이벤트 생성 </a>
</div>

{% if not event_exists2 %}
    <p>일정이 없습니다.</p>
{% else %}
    <ul>
        {% for event in event_list %}
            <li>{{ event.date }} - {{ event.title }}</li>
        {% empty %}
            <li>일정이 없습니다.</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
