{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
    <title>Edit Account</title>
    <style>
        body {
            background-image: url("{% static 'image/p2.png' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed; /* 추가: 배경 이미지를 고정 */
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <!-- Home Button -->
            <button type="button" class="deply-button" onclick="location.href='/'">데플리</button>
            <!-- Login Button -->
            <button type="button" class="sign-in-button" onclick="location.href='{% url 'login' %}'">Sign In</button>
            <!-- option -->
            <!--login버튼 옆에 따로 구현-->
        </nav>
    </header>
    
    <!-- Logo -->
    <div class="logo-container">
        <div class="rectangle-12"></div>
        <div class="rectangle-13"></div>
        <div class="ready-for">Ready for</div>
        <div class="daily">Daily</div>
    </div>

    <!-- Edit Account Box -->
    <div class="login-container">
        <div class="login-box">
            <!-- Title -->
            <h1 class="login-logo">Edit Account</h1>
            <!-- Line -->
            <div class="line"></div>

            <!-- Form for editing account -->
            <form action="{% url 'edit_account' %}" method="post" style="width: 100%; display: flex; flex-direction: column; gap: 20px;">
                {% csrf_token %}
                <!-- Hidden User ID -->
                <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">

                <!-- New Password Input -->
                <div class="input-container">
                    <label for="new_password"></label>
                    <input type="password" id="new_password" name="new_password" placeholder="새로운 비밀번호">
                </div>

                <!-- Confirm Password Input -->
                <div class="input-container">
                    <label for="confirm_password"></label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="비밀번호 확인">
                </div>

                <!-- Edit Account Button -->
                <button type="submit" class="login-button">Save Changes</button>
            </form>
        </div>
    </div>
</body>
</html>
