<!-- edit_account.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Home Button -->
        <button type="button" class="deply-button" onclick="location.href='/'">데플리</button>
    </header>
    <h1>Edit Account</h1>
    <!-- Edit account form -->
    <form action="{% url 'edit_account' %}" method="post">
        {% csrf_token %}
        <!-- Form fields for editing account -->
        <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password">
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
