{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <!-- Home Button -->
            <button type="button" class="deply-button" onclick="location.href='/'">데플리</button>
            <!-- Login Button -->
            <button type="button" class="sign-in-button" onclick="location.href='login'">Sign In</button>
            <!-- option -->
            <!--login버튼 옆에 따로 구현-->
        </nav>
    </header>
    <h1>Find Account</h1>
    <!-- Find account form -->
    <form action="{% url 'find_account' %}" method="post">
        {% csrf_token %}
        <!-- Form fields for finding account -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <button type="submit">Find Account</button>
    </form>
</body>
</html>
