<!-- accounts/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <!-- Home Button -->
            <button type="button" class="deply-button" onclick="location.href='/'">데플리</button>
            <!-- Login Button -->
            <button type="button" class="sign-in-button" onclick="location.href='{% url 'login' %}'">Sign In</button>
        </nav>
    </header>

    <div class="logo-container">
        <div class="rectangle-12"></div>
        <div class="rectangle-13"></div>
        <div class="ready-for">Ready for</div>
        <div class="daily">Daily</div>
    </div>

    <div class="login-container">
        <div class="login-box">
            <div class="login-logo">Log In</div>
            <div class="line"></div>
            
            <form action="{% url 'login' %}" method="post" style="width: 100%; display: flex; flex-direction: column; gap: 20px;">
                {% csrf_token %}
                
                <div class="input-container">
                    <input type="email" id="email" name="email" placeholder="E-mail">
                </div>
                
                <div class="input-container">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                
                <button type="submit" class="login-button">Log In</button>
            </form>
            
            <a href="{% url 'find_account' %}" class="forgot-password-link">Forgot Password</a>
            <a href="{% url 'signup' %}" class="signup-link">Sign Up</a>
            
            <!-- Error messages -->
            {% if messages %}
                <div class="error-messages">
                    <ul>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
