{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
    <title>User Session Main Page</title>
    <style>
        body {
            background-image: url("{% static 'image/p4.png' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <!-- Home Button -->
            <button type="button" class="deply-button" onclick="location.href='{% url 'user_session' %}'">데플리</button>
            <!-- Log Out Button -->
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-button">Log Out</button>
            </form>
            <!-- Edit Profile Button -->
            <button type="button" class="edit-profile" onclick="location.href='{% url 'edit_profile' %}'"></button>
        </nav>
    </header>

    <!-- Logo -->
    <div class="logo-container">
        <div class="rectangle-12"></div>
        <div class="rectangle-13"></div>
        <div class="ready-for">Ready for</div>
        <div class="daily">Daily</div>
    </div>

    <div class="welcome-message">
        <p>Welcome, {{ username }}!</p>
    </div>

    <div class="buttons-container">
        <a href="{% url 'recommend_clothes' %}" class="button recommendation-button">
            <div class="button-text-large">Styling</div>
            <div class="button-icon">
                <img src="{% static 'accounts/image/hoodie.png' %}" alt="Hoodie Icon" style="width: 100%; height: 100%;">
            </div>
        </a>
        <a href="{% url 'cal2:calendar_v2' %}" class="button calendar-button">
            <div class="button-text-large">Calendar</div>
            <div class="button-icon">
                <img src="{% static 'accounts/image/calendar.png' %}" alt="Calendar Icon" style="width: 100%; height: 100%;">
            </div>
        </a>
        <a href="{% url 'add_and_show' %}" class="button add-button">
            <div class="button-text-large">Clothes</div>
            <div class="button-icon">
                <img src="{% static 'accounts/image/hanger.png' %}" alt="Hanger Icon" style="width: 100%; height: 100%;">
            </div>
        </a>
    </div>
</body>
</html>
