{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
    <title>User Session Main Page</title>
</head>
<body>
    <header>
        <nav>
            <!-- Home Button -->
            <button type="button" class="deply-button" onclick="location.href='/'">데플리</button>
            <!-- Edit Profile Button -->
            <button type="button" class="edit-profile-button" onclick="location.href='{% url 'edit_profile' %}'">Edit Profile</button>
        </nav>
    </header>

    <!-- Logo -->
    <div class="logo-container">
        <div class="rectangle-12"></div>
        <div class="rectangle-13"></div>
        <div class="ready-for">Ready for</div>
        <div class="daily">Daily</div>
    </div>
    <p>Welcome, {{ username }}!</p>  <!-- Display email -->
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <a href="{% url 'add_and_show' %}">Add and Show Pictures</a>
    <a href="{% url 'calendar' %}">Calendar</a>

    <a href="{% url 'recommend_clothes' %}">the what now?</a>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
</body>
</html>
