<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
</head>
<body>
    <h1>Edit Account</h1>
    <!-- Edit account form -->
    <form action="{% url 'edit_account' %}" method="post">
        {% csrf_token %}
        <!-- Form fields for editing account -->
        <label for="email">email:</label>
        <input type="text" id="email" name="email">
        
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
