<!-- fos_app/templates/fos_app/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'fos_app/images/logo.png' %}" alt="Logo">
        <!-- Home Button -->
        <a href="#" class="home-button">Home</a>

         <!-- Login and Settings Buttons -->
         <div class="header-buttons">
            <button onclick="location.href='login.html'">login</button>
            <button onclick="location.href='setting.html'">설정</button>
        </div>
    </header>
    <main>
        <p>hi</p>
    </main>
    <footer>

    </footer>
</body>
</html>
